@page "/"
@inject NavigationManager NavigationManager

<div class="container">
    <h1>Bataille Navale</h1>

    <div>
        <label for="difficulty">Choisir la difficulté :</label>
        <select id="difficulty" @bind="_selectedDifficulty">
            <option value="1">1 - Facile</option>
            <option value="2">2 - Moyen</option>
            <option value="3">3 - Difficile</option>
        </select>
    </div>

    <!-- Champ pour saisir le nom d'utilisateur -->
    <div>
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" @bind="_username" />
    </div>

    <br/>
    <button class="btn" @onclick="StartGame">Démarrer le Jeu</button>
    <br/>
    <button class="btn" @onclick="ShowLeaderboard">Voir le leaderboard</button>
</div>

@code {
    private int _selectedDifficulty = 1; // La difficulté sélectionnée, 1 par défaut
    private string _username; // Le nom d'utilisateur saisi

    private void StartGame()
    {
        // Ajoutez le nom d'utilisateur dans l'URL de navigation vers la page newGame
        NavigationManager.NavigateTo($"/newGame/{_selectedDifficulty}/{_username}");
    }
    
    private void ShowLeaderboard()
    {
        NavigationManager.NavigateTo("/leaderboard");
    }
}
