@page "/leaderboard"
@using System.Net.Http
@using System.Net.Http.Json
@using BattleShip.API.data
@inject BattleShipServiceImpl BattleShipService
@inject NavigationManager NavigationManager


<div class="container">
    <h1>Leaderboard</h1>

    @if (leaderboard != null && leaderboard.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nombre de victoires</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in leaderboard)
                {
                    <tr>
                        <td>@player.PlayerName</td>
                        <td>@player.VictoryNumber</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Aucune donnée de leaderboard n'est disponible pour le moment.</p>
    }
    
    <br/>
    <button class="btn" @onclick="GoToHome">Menu</button>
</div>

@code {
    private List<PlayerScore> leaderboard { get; set; }
    [Inject] 
    public HttpClient httpClient { get; set; }

    protected override async Task OnInitializedAsync()
    {
        leaderboard = await BattleShipService.GetLeaderboard(); 
    }
    
    private void GoToHome()
    {
        NavigationManager.NavigateTo("/");
    }
}

